<?xml version="1.0"?>

<robot name="woody"
       xmlns:xacro="http://ros.org/wiki/xacro" >

  <!-- Import Files ####################################################### -->
  <xacro:include filename="$(find pandora_urdf_properties)/xacro/*.xacro" />
  
  <xacro:include filename="$(find pandora_robots_description)/woody/urdf/urdf_configurations.xacro" />
  
  <xacro:include filename="$(find pandora_robots_description)/woody/urdf/parts/*.xacro" />
  <xacro:include filename="$(find pandora_robots_description)/woody/urdf/sensors/*.xacro" />

  <!-- Load Links & Joints ################################################ -->
  <xacro:base />
  
  <xacro:side prefix_y="left" reflect_y="1" />
  <xacro:side prefix_y="right" reflect_y="-1" />
  
  <xacro:wheel prefix_y="left" prefix_x="front" reflect_y="1" reflect_x="1" />
  <xacro:wheel prefix_y="left" prefix_x="rear" reflect_y="1" reflect_x="-1" />
  <xacro:wheel prefix_y="right" prefix_x="front" reflect_y="-1" reflect_x="1" />
  <xacro:wheel prefix_y="right" prefix_x="rear" reflect_y="-1" reflect_x="-1" />

  <!-- Load Sensors ####################################################### -->
  <xacro:laser_sensor />
  <xacro:kinect_sensor />
  
  <xacro:left_camera_sensor />
  <xacro:right_camera_sensor />
  
  <xacro:left_sonar_sensor />
  <xacro:right_sonar_sensor />
  
  <xacro:flir_sensor />
  <xacro:thermal_sensor />
  <xacro:co2_sensor />
  <!--<xacro:microphone_sensor />-->

</robot>
