<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:macro name="pi_camera"
               params="parent *origin
                       yaw_min_limit yaw_max_limit
                       pitch_min_limit pitch_max_limit" >

    <!-- Links -->
    <!-- MASS = 0.076 -->
    <link name="camera_effector_pan_link" >
      <xacro:solid_cuboid_inertial mass="0.01" x="0.01" y="0.01" z="0.01" >
        <origin xyz="0.0 0.0 0.0" /> <!-- TODO -->
      </xacro:solid_cuboid_inertial>
      <visual>
        <geometry>
          <mesh filename="package://pandora_sensors_description/camera_effector/meshes/pan_servo_link.dae" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <box size="0.01 0.01 0.01" /> <!-- TODO -->
        </geometry>
      </collision>
    </link>

    <link name="camera_effector_base_link" >
      <xacro:solid_cuboid_inertial mass="0.01" x="0.01" y="0.01" z="0.01" >
        <origin xyz="0.0 0.0 0.0" /> <!-- TODO -->
      </xacro:solid_cuboid_inertial>
      <visual>
        <geometry>
          <mesh filename="package://pandora_sensors_description/camera_effector/meshes/pan_base_link.dae" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <box size="0.01 0.01 0.01" /> <!-- TODO -->
        </geometry>
      </collision>
    </link>

    <link name="camera_effector_tilt_link" >
      <xacro:solid_cuboid_inertial mass="0.01" x="0.01" y="0.01" z="0.01" >
        <origin xyz="0.0 0.0 0.0" /> <!-- TODO -->
      </xacro:solid_cuboid_inertial>
      <visual>
        <geometry>
          <mesh filename="package://pandora_sensors_description/camera_effector/meshes/tilt_servo_link.dae" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <box size="0.01 0.01 0.01" /> <!-- TODO -->
        </geometry>
      </collision>
    </link>

    <link name="pi_camera_platform_link" >
      <xacro:solid_cuboid_inertial mass="0.01" x="0.01" y="0.01" z="0.01" >
        <origin xyz="0.0 0.0 0.0" /> <!-- TODO -->
      </xacro:solid_cuboid_inertial>
      <visual>
        <geometry>
          <mesh filename="package://pandora_sensors_description/camera_effector/meshes/platform.dae" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <box size="0.01 0.01 0.01" /> <!-- TODO -->
        </geometry>
      </collision>
    </link>

    <link name="pi_camera_link" >
      <xacro:solid_cuboid_inertial mass="0.01" x="0.01" y="0.01" z="0.01" >
        <origin xyz="0.0 0.0 0.0" /> <!-- TODO -->
      </xacro:solid_cuboid_inertial>
      <visual>
        <geometry>
          <mesh filename="package://pandora_sensors_description/camera_effector/meshes/pi_camera.dae" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <box size="0.01 0.01 0.01" /> <!-- TODO -->
        </geometry>
      </collision>
    </link>

    <!-- Joints -->
    <joint name="camera_effector_pan_joint"
           type="fixed" >
      <parent link="${parent}" />
      <child link="camera_effector_pan_link" />
      <xacro:insert_block name="origin" />
      <axis xyz="0 0 1" />
      <dynamics damping="0.0" />
      <limit lower="${camera_effector_pan_joint_min_limit}"
             upper="${camera_effector_pan_joint_max_limit}"
             effort="50.0"
             velocity="50.0" />
    </joint>

    <joint name="camera_effector_pan_base_joint"
           type="fixed" >
      <parent link="camera_effector_pan_link" />
      <child link="camera_effector_base_link" />
      <origin xyz="0.00355 0.0 0.01003" />
    </joint>

    <joint name="camera_effector_tilt_base_joint"
           type="fixed" >
      <parent link="camera_effector_base_link" />
      <child link="camera_effector_tilt_link" />
      <origin xyz="0.01036 0.02302 0.01931" />
    </joint>

    <joint name="camera_effector_tilt_joint"
           type="fixed" >
      <parent link="camera_effector_tilt_link" />
      <child link="pi_camera_platform_link" />
      <origin xyz="0.0 0.0 0.0" />
      <axis xyz="0 1 0" />
      <dynamics damping="0.0" />
      <limit lower="${camera_effector_tilt_joint_min_limit}"
             upper="${camera_effector_tilt_joint_max_limit}"
             effort="50.0"
             velocity="50.0" />
    </joint>

    <joint name="pi_camera_platform_joint"
           type="fixed" >
      <parent link="pi_camera_platform_link" />
      <child link="pi_camera_link" />
      <origin xyz="0.00034 -0.01925 0.04306"
              rpy="0.0 -0.3490658504 0.0" />
    </joint>

    <!-- Frames -->
    <link name="pi_camera_frame" >
      <xacro:point_mass_inertial />
    </link>
    <link name="pi_camera_optical_frame" >
      <xacro:point_mass_inertial />
    </link>

    <joint name="pi_camera_joint"
           type="fixed" >
      <parent link="pi_camera_link" />
      <child link="pi_camera_frame" />
      <origin xyz="0.0045 0.0 0.0" />
    </joint>
    <joint name="pi_camera_optical_joint"
           type="fixed" >
      <parent link="pi_camera_frame" />
      <child link="pi_camera_optical_frame" />
      <origin xyz="0.0 0.0 0.0"
              rpy="-1.5708 0.0 -1.5708" />
    </joint>

  </xacro:macro>

</robot>
