<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ====================================================================== -->
<xacro:include filename="$(find pandora_robots_description)/urdf/gears/links/linear/head/main/linear_head_main_link_config.xacro" />
<!-- ====================================================================== -->

<!-- ###################################################################### -->

  <xacro:macro name="linear_head_main_link" >
    <!-- ================================================================== -->
    <link name="linear_head_main_link" >

      <inertial>
        <xacro:linear_head_main_link_inertial_origin />
        <xacro:linear_head_main_link_mass />
        <xacro:linear_head_main_link_inertia />
      </inertial>

      <visual>
        <xacro:linear_head_main_link_visual_origin />
        <xacro:linear_head_main_link_visual_mesh />
        <material name="linear_head_main" />
      </visual>

      <collision>
        <xacro:linear_head_main_link_collision_origin />
        <xacro:linear_head_main_link_collision_mesh />
      </collision>

    </link>
    <!-- ================================================================== -->
  </xacro:macro>

<!-- ###################################################################### -->

</robot>
