<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <xacro:macro name="logitec_stick_camera" >
<!--                params="parent prefix_y *origin" > -->

    <!-- ################################################################## -->

    <link name="logitec_stick_base_link" >

      <inertial>
        <!-- ============================================================== -->
        <origin xyz="0.0 0.0 0.0" />
        <!-- ============================================================== -->
        <mass value="0.005" />
        <!-- ============================================================== -->
        <inertia ixx="1.0E-6"
                 ixy="0"
                 ixz="0"
                 iyy="1.0E-6"
                 iyz="0"
                 izz="1.0E-6" />
        <!-- ============================================================== -->
      </inertial>>

      <visual>
        <!-- ============================================================== -->
        <!-- <origin xyz="0 0 1" /> -->
        <!-- ============================================================== -->
        <geometry>
          <origin xyz="0 0 1" />
          <box size="0.5 0.5 0.3" />
        </geometry>
        <!-- ============================================================== -->
      </visual>

    </link>

    <!-- ################################################################## -->

    <link name="logitec_stick_camera_frame" >

      <inertial>
        <!-- ============================================================== -->
        <origin xyz="0.0 0.0 0.0" />
        <!-- ============================================================== -->
        <mass value="0.005" />
        <!-- ============================================================== -->
        <inertia ixx="1.0E-6"
                 ixy="0"
                 ixz="0"
                 iyy="1.0E-6"
                 iyz="0"
                 izz="1.0E-6" />
        <!-- ============================================================== -->
      </inertial>

    </link>

    <!-- ################################################################## -->

    <link name="logitec_stick_camera_optical_frame" >

      <inertial>
        <!-- ============================================================== -->
        <origin xyz="0.0 0.0 0.0" />
        <!-- ============================================================== -->
        <mass value="0.005" />
        <!-- ============================================================== -->
        <inertia ixx="1.0E-6"
                 ixy="0"
                 ixz="0"
                 iyy="1.0E-6"
                 iyz="0"
                 izz="1.0E-6" />
        <!-- ============================================================== -->
      </inertial>

    </link>

    <!-- ################################################################## -->

    <joint name="logitec_stick_main_joint"
           type="fixed" >

      <!-- ================================================================ -->
      <parent link="base_link" />
      <child link="logitec_stick_base_link" />
      <!-- ================================================================ -->
      <origin xyz="0.022 0.015 0.484" 
              rpy="0.0 0.0 0.0" />
      <!-- ================================================================ -->

    </joint>

    <!-- ################################################################## -->
    
    <joint name="logitec_stick_frame_joint"
           type="fixed" >
           
      <!-- ================================================================ -->
      <parent link="logitec_stick_base_link" />
      <child link="logitec_stick_camera_frame" />
      <!-- ================================================================ -->
      <origin xyz="0.0 0.0 0.0" 
              rpy="0.0 0.0 0.0" />
      <!-- ================================================================ -->
                 
    </joint>

    <!-- ################################################################## -->
    
    <joint name="logitec_stick_optical_joint"
           type="fixed" >
           
      <!-- ================================================================ -->
      <parent link="logitec_stick_camera_frame" />
      <child link="logitec_stick_camera_optical_frame" />
      <!-- ================================================================ -->
      <origin xyz="0.0 0.0 0.0" 
              rpy="-1.5708 0.0 -1.5708" />
      <!-- ================================================================ -->
                 
    </joint>

    <!-- ################################################################## -->

  </xacro:macro>

<!-- ###################################################################### -->

</robot>
