<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:macro name="differential_link">

    <link name="differential" >
      <inertial>
        <origin xyz="0.0 0.0 0.0" />
        <mass value="0.31" />
        <!-- TODO -->
        <inertia ixx="0.0001"
                 ixy="0.0"
                 ixz="0.0"
                 iyy="0.0001"
                 iyz="0.0"
                 izz="0.0001" />
      </inertial>

      <!-- ============================================ -->
      <visual>
        <xacro:default_origin />

        <geometry>
          <mesh filename="package://pandora_robots_description/meshes/woody/visual/differential/differential_link.dae" />
        </geometry>

      </visual>
    </link>

  </xacro:macro>



</robot>