<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:include filename="$(find pandora_sensors_description)/laser/urdf/*.urdf.xacro" />

  <xacro:macro name="laser_04" >
    <xacro:hokuyo_urg_04lx parent="electronics_box_link"
                           roll_min_limit="${laser_roll_joint_min_limit}"
                           roll_max_limit="${laser_roll_joint_max_limit}"
                           roll_offset="${laser_roll_joint_offset}"
                           pitch_min_limit="${laser_pitch_joint_min_limit}"
                           pitch_max_limit="${laser_pitch_joint_max_limit}"
                           pitch_offset="${laser_pitch_joint_offset}" >

      <origin xyz="0.137 0.0 0.06" />
    </xacro:hokuyo_urg_04lx>
  </xacro:macro>

</robot>
