<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ====================================================================== -->
<xacro:include filename="$(find pandora_robots_description)/urdf/gears/links/base/base_link_config.xacro" />
<!-- ====================================================================== -->

<!-- ###################################################################### -->

  <xacro:macro name="base_link" >
    <!-- ================================================================== -->
    <link name="base_link" >

      <inertial>
        <xacro:base_link_inertial_origin />
        <xacro:base_link_mass />
        <xacro:base_link_inertia />
      </inertial>

      <visual>
        <xacro:base_link_visual_origin />
        <xacro:base_link_visual_mesh />
        <material name="base" />
      </visual>

      <collision>
        <xacro:base_link_collision_origin />
        <xacro:base_link_collision_mesh />
      </collision>

    </link>
    <!-- ================================================================== -->
  </xacro:macro>

<!-- ###################################################################### -->

</robot>
