<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:include filename="$(find pandora_sensors_description)/webcam/urdf/*.urdf.xacro" />

  <xacro:macro name="left_webcam" >
    <xacro:logitech_c310hd parent="base_link"
                           prefix="left" >
      <origin xyz="-0.06887 0.08618 0.23081"
              rpy="0.0 0.0 ${PI_2}" />
    </xacro:logitech_c310hd>
  </xacro:macro>

  <xacro:macro name="right_webcam" >
    <xacro:logitech_c310hd parent="base_link"
                           prefix="right" >
      <origin xyz="-0.06887 -0.08618 0.23081"
              rpy="0.0 0.0 ${-PI_2}" />
    </xacro:logitech_c310hd>
  </xacro:macro>

  <xacro:macro name="rear_webcam" >
    <xacro:logitech_c310hd parent="base_link"
                           prefix="rear" >
      <origin xyz="-0.10937 0.0 0.26221"
              rpy="0.0 0.0 ${- 2 * PI_2}" />
    </xacro:logitech_c310hd>
  </xacro:macro>

</robot>
