<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ====================================================================== -->
<xacro:include filename="$(find pandora_robots_description)/urdf/gears/links/wheel/wheel_link_config.xacro" />
<!-- ====================================================================== -->

<!-- ###################################################################### -->

  <xacro:macro name="wheel_link"
               params="prefix_y prefix_x reflect_y reflect_x" >
    <!-- ================================================================== -->
    <link name="${prefix_y}_${prefix_x}_wheel_link" >

      <inertial>
        <xacro:wheel_link_inertial_origin reflect_y="${reflect_y}" />
        <xacro:wheel_link_mass />
        <xacro:wheel_link_inertia reflect_y="${reflect_y}" />
      </inertial>

      <visual>
        <xacro:wheel_link_visual_origin reflect_y="${reflect_y}" />
        <xacro:wheel_link_visual_mesh />
        <material name="wheel" />
      </visual>

      <collision>
        <xacro:wheel_link_collision_origin reflect_y="${reflect_y}" />
        <xacro:wheel_link_collision_mesh />
      </collision>

    </link>
    <!-- ================================================================== -->
  </xacro:macro>

<!-- ###################################################################### -->

</robot>
