<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <!-- ==================================================================== -->
  <xacro:macro name="side_joint_origin"
               params="reflect_y" >

    <origin xyz="0.0 ${ reflect_y * ( 0.110 ) } 0.0"
            rpy="${zero}" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="side_joint_physics" >

    <axis xyz="0 1 0" />

    <!-- <calibration rising="0.0"
                      falling="0.0" /> -->

    <dynamics damping="${side_joint_damping}" />
         <!-- friction="0.0" /> --> 

    <limit lower="${side_joint_min_limit}"
           upper="${side_joint_max_limit}"
           effort="150.0"
           velocity="150.0" />

    <!-- <safety_controller soft_lower_limit="0.0"
                            soft_upper_limit="0.0"
                            k_position="0.0"
                            k_velocity="0.0" /> -->

  </xacro:macro>
  <!-- ==================================================================== -->

<!-- ###################################################################### -->

</robot>
