<?xml version="1.0"?>

<robot name="gears"
       xmlns:xacro="http://ros.org/wiki/xacro" >

  <!-- Import Files -->
  <xacro:include filename="$(find pandora_urdf_properties)/xacro/*.xacro" />
  
  <xacro:include filename="$(find pandora_robots_description)/gears/urdf/urdf_configurations.xacro" />
  
  <xacro:include filename="$(find pandora_robots_description)/gears/urdf/parts/*.xacro" />
  <xacro:include filename="$(find pandora_robots_description)/gears/urdf/sensors/*.xacro" />

  <!-- Load Links & Joints -->
  <xacro:base />
  
  <xacro:side prefix_y="left" reflect_y="1" />
  <xacro:side prefix_y="right" reflect_y="-1" />
  
  <xacro:wheel prefix_y="left" prefix_x="front" reflect_y="1" reflect_x="1" />
  <xacro:wheel prefix_y="left" prefix_x="rear" reflect_y="1" reflect_x="-1" />
  <xacro:wheel prefix_y="right" prefix_x="front" reflect_y="-1" reflect_x="1" />
  <xacro:wheel prefix_y="right" prefix_x="rear" reflect_y="-1" reflect_x="-1" />

  <xacro:linear_elevator />
  <xacro:linear_head />

  <!-- Load Sensors -->
  <xacro:laser_sensor />
  <xacro:kinect_sensor />
  
  <xacro:left_camera_sensor />
  <xacro:right_camera_sensor />
  
  <xacro:linear_sonar_sensor />
  <xacro:left_sonar_sensor />
  <xacro:right_sonar_sensor />
  
  <xacro:co2_sensor />
  <xacro:middle_thermal_sensor />
  <xacro:left_thermal_sensor />
  <xacro:right_thermal_sensor />
  <xacro:microphone_sensor />

</robot>
