<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ====================================================================== -->
<xacro:include filename="$(find pandora_robots_description)/urdf/gears/joints/wheel/wheel_joint_config.xacro" />
<!-- ====================================================================== -->

<!-- ###################################################################### -->

  <xacro:macro name="wheel_joint"
               params="prefix_y prefix_x reflect_y reflect_x" >
               
    <joint name="${prefix_y}_${prefix_x}_wheel_joint"
           type="${wheel_joint_type}" >

      <parent link="${prefix_y}_side_link" />
      <child link="${prefix_y}_${prefix_x}_wheel_link" />

      <xacro:wheel_joint_origin reflect_y="${reflect_y}"
                                reflect_x="${reflect_x}" />

      <xacro:wheel_joint_physics />

    </joint>
    
  </xacro:macro>

<!-- ###################################################################### -->

</robot>
