<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <!-- ==================================================================== -->
  <xacro:macro name="side_link_mass" >

    <mass value="0.93539" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="side_link_inertia"
               params="reflect_y" >

    <inertia ixx="0.001211"
             ixy="-4.0495E-05"
             ixz="${ reflect_y * ( 1.0211E-06 ) }"
             iyy="0.026668"
             iyz="${ reflect_y * ( -0.00024586 ) }"
             izz="0.026454" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="side_link_inertial_origin"
               params="reflect_y" >

    <origin xyz="${ reflect_y * ( -9.2074E-08 ) } ${ reflect_y * ( 0.010782 ) } -0.028501" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="side_link_visual_origin"
               params="reflect_y" >

    <origin xyz="${zero}"
            rpy="0.0 0.0 ${ ( 1 - reflect_y ) * PI_2 }" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="side_link_collision_origin"
               params="reflect_y" >

    <origin xyz="${zero}"
            rpy="0.0 0.0 ${ ( 1 - reflect_y ) * PI_2 }" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="side_link_visual_mesh" >

    <geometry>
      <mesh filename="package://pandora_robots_description/meshes/gears/visual/side/side_link.dae" />
      <!-- <mesh filename="package://pandora_robots_description/meshes/gears/collision/side/side_link.stl" /> -->
    </geometry>

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="side_link_collision_mesh" >

    <geometry>
      <mesh filename="package://pandora_robots_description/meshes/gears/collision/side/side_link.stl" />
      <!-- <mesh filename="package://pandora_robots_description/meshes/gears/visual/side/side_link.dae" /> -->
    </geometry>

  </xacro:macro>
  <!-- ==================================================================== -->

<!-- ###################################################################### -->

</robot>
