<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ====================================================================== -->
<xacro:include filename="$(find pandora_robots_description)/urdf/gears/links/side/side_link_config.xacro" />
<!-- ====================================================================== -->

<!-- ###################################################################### -->

  <xacro:macro name="side_link"
               params="prefix_y reflect_y" >
    <!-- ================================================================== -->
    <link name="${prefix_y}_side_link" >

      <inertial>
        <xacro:side_link_inertial_origin reflect_y="${reflect_y}" />
        <xacro:side_link_mass />
        <xacro:side_link_inertia reflect_y="${reflect_y}" />
      </inertial>

      <visual>
        <xacro:side_link_visual_origin reflect_y="${reflect_y}" />
        <xacro:side_link_visual_mesh />
        <material name="side" />
      </visual>

      <collision>
        <xacro:side_link_collision_origin reflect_y="${reflect_y}" />
        <xacro:side_link_collision_mesh />
      </collision>

    </link>
    <!-- ================================================================== -->
  </xacro:macro>

<!-- ###################################################################### -->

</robot>
