<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:macro name="battery_power_distribution_board" >

    <joint name="electronics_box_battery_power_distribution_board_joint" type="fixed" >
      <parent link="electronics_box_link" />
      <child link="battery_power_distribution_board_link" />
      <origin xyz="-0.1369 0.0 -0.0223" />
    </joint>

    <link name="battery_power_distribution_board_link" >
      <xacro:solid_cuboid_inertial mass="0.3" x="0.03" y="0.07" z="0.02" >
        <origin xyz="0.0 0.0 0.0" />
      </xacro:solid_cuboid_inertial>
      <visual>
        <geometry>
          <box size="0.03 0.07 0.02" />
        </geometry>
        <material name="yellow" />
      </visual>
    </link>

  </xacro:macro>

</robot>
