<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:macro name="electronics_box" >

    <!-- electronics box -->
    <joint name="floor_board_electronics_box_joint" type="fixed" >
      <parent link="floor_board_link" />
      <child link="electronics_box_link" />
      <origin xyz="0.0 0.0 ${0.07454/2}" />
    </joint>

    <link name="electronics_box_link" >
      <xacro:solid_cuboid_inertial mass="0.3" x="0.31" y="0.17" z="0.07454" >
        <origin xyz="0.0 0.0 0.0" />
      </xacro:solid_cuboid_inertial>
      <visual>
        <geometry>
          <mesh filename="package://pandora_robots_description/monstertruck/meshes/electronics_box.dae" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://pandora_robots_description/monstertruck/meshes/electronics_box.stl"/>
        </geometry>
      </collision>
    </link>

  </xacro:macro>

</robot>
