<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:macro name="pc_fan_40mm" >

    <!-- chassis floor board -->
    <joint name="base_pc_fan_40mm_joint" type="fixed" >
      <parent link="pc_box_link" />
      <child link="pc_fan_40mm_link" />
      <origin xyz="-0.0298 -0.125 -0.0088" />
    </joint>

    <link name="pc_fan_40mm_link" >
      <xacro:solid_cuboid_inertial mass="0.01" x="0.04" y="0.01" z="0.04" >
        <origin xyz="0.0 0.0 0.0" />
      </xacro:solid_cuboid_inertial>
      <visual>
        <geometry>
          <mesh filename="package://pandora_robots_description/monstertruck/meshes/pc_fan_40mm.dae" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <!-- <mesh filename="package://pandora_robots_description/monstertruck/meshes/pc_fan_40mm.dae" /> -->
          <box size="0.04 0.01 0.04" />
        </geometry>
      </collision>
    </link>

  </xacro:macro>

</robot>
